## 練習時間
資料的操作有很多，接下來的馬拉松中我們會介紹常被使用到的操作，參加者不妨先自行想像一下，第一次看到資料，我們一般會想知道什麼訊息？

#### Ex: 如何知道資料的 row 數以及 column 數、有什麼欄位、多少欄位、如何截取部分的資料等等

有了對資料的好奇之後，我們又怎麼通過程式碼來達成我們的目的呢？

#### 可參考該[基礎教材](https://bookdata.readthedocs.io/en/latest/base/01_pandas.html#DataFrame-%E5%85%A5%E9%97%A8)或自行 google

In [4]:
import os
import numpy as np
import pandas as pd

In [5]:
# 設定 data_path
dir_data = './data/'

In [7]:
f_app = os.path.join(dir_data, 'application_train.csv')
print('Path of read in data: %s' % (f_app))
app_train = pd.read_csv(f_app)

Path of read in data: ./data/application_train.csv

### 如果沒有想法，可以先嘗試找出剛剛例子中提到的問題的答案
#### 資料的 row 數以及 column 數

In [24]:
app_train.info()
print('Rows: ', len(app_train))

r_counter, c_counter = app_train.shape
print('>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>')
print('Rows = ', r_counter)
print('Cols = ', c_counter)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307511 entries, 0 to 307510
Columns: 122 entries, SK_ID_CURR to AMT_REQ_CREDIT_BUREAU_YEAR
dtypes: float64(65), int64(41), object(16)
memory usage: 286.2+ MB
Rows:  307511
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
Rows =  307511
Cols =  122
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

#### 列出所有欄位

In [25]:
app_train.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

#### 截取部分資料

In [33]:
app_train.iloc[10:7000:10, 10:100:5]

,AMT_GOODS_PRICE,NAME_HOUSING_TYPE,DAYS_ID_PUBLISH,FLAG_CONT_MOBILE,REGION_RATING_CLIENT,REG_REGION_NOT_WORK_REGION,ORGANIZATION_TYPE,BASEMENTAREA_AVG,ENTRANCES_AVG,LIVINGAREA_AVG,YEARS_BEGINEXPLUATATION_MODE,FLOORSMAX_MODE,NONLIVINGAPARTMENTS_MODE,YEARS_BUILD_MEDI,FLOORSMIN_MEDI,NONLIVINGAREA_MEDI,EMERGENCYSTATE_MODE,DAYS_LAST_PHONE_CHANGE
10,652500.0,House / apartment,-738,1,2,0,Medicine,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-844.0
20,427500.0,House / apartment,-1800,1,2,0,Self-employed,0.0801,0.1379,0.0619,0.9782,0.1667,0.0000,0.7048,0.0417,0.0000,No,-296.0
30,477000.0,House / apartment,-3787,1,2,0,Business Entity Type 3,NaN,0.0690,0.0149,0.9697,0.0417,NaN,NaN,NaN,0.0000,No,-1634.0
40,855000.0,House / apartment,-1029,1,2,0,Business Entity Type 3,0.1250,0.1379,0.1267,0.9960,0.2500,0.0039,0.9463,0.2917,0.0079,No,-1075.0
50,135000.0,House / apartment,-2576,0,2,0,School,0.0442,0.0552,0.0651,0.9980,0.3750,NaN,NaN,0.4167,0.0163,No,0.0
60,1588500.0,House / apartment,-2177,1,2,0,Industry: type 11,0.0496,0.0345,0.0767,0.9841,0.4583,0.0078,0.7853,0.5000,0.0214,No,-1572.0
70,450000.0,House / apartment,-3656,1,2,0,Business Entity Type 3,0.0487,0.1379,0.0505,0.9826,0.1667,0.0000,0.7652,0.2083,0.0000,No,-1003.0
80,135000.0,House / apartment,-2241,1,3,0,Trade: type 7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1040.0
90,225000.0,House / apartment,-3043,1,2,0,Government,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1733.0
100,180000.0,House / apartment,-467,1,2,0,Medicine,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-149.0
110,585000.0,House / apartment,-3190,1,2,1,Trade: type 2,0.0604,0.0345,0.1012,0.9881,0.3333,0.0039,0.8390,0.3750,0.0028,No,-56.0
120,675000.0,House / apartment,-505,1,2,0,Business Entity Type 3,0.0557,0.1379,0.0618,0.9851,0.1667,0.1946,0.7987,0.0417,0.0000,No,-120.0
130,166500.0,Municipal apartment,-4654,1,2,0,Self-employed,0.0457,0.0690,0.0783,0.9821,0.3333,0.0000,0.7585,0.3750,0.0000,No,-1761.0
140,472500.0,House / apartment,-4488,1,3,0,XNA,0.0992,0.2069,0.0854,0.9772,0.1667,0.0000,0.6914,0.2083,0.0030,No,-1594.0
150,297000.0,House / apartment,-4248,1,2,1,Self-employed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-328.0
160,189000.0,House / apartment,-339,1,3,0,Trade: type 7,0.0000,0.0345,0.0054,0.9727,0.0417,0.0000,0.6310,0.0833,0.0000,No,-581.0
170,225000.0,House / apartment,-4411,1,2,0,Industry: type 3,0.0756,0.0345,0.0490,0.9896,0.1667,0.0000,0.8591,0.2083,0.0000,No,-738.0
180,540000.0,House / apartment,-792,1,2,0,Construction,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-429.0
190,909000.0,House / apartment,-4138,1,2,0,Self-employed,0.1012,0.2069,0.0854,0.9816,0.1667,0.0000,0.7518,0.2083,0.0398,No,-1898.0
200,607500.0,House / apartment,-1876,1,2,0,Transport: type 4,0.0838,0.2069,0.0943,0.9826,0.1667,0.0000,0.7652,0.2083,0.0000,No,-2071.0
210,405000.0,House / apartment,-647,1,2,0,Industry: type 9,0.1252,0.2069,0.0905,0.9876,0.1667,NaN,NaN,NaN,0.0437,No,0.0
220,270000.0,House / apartment,-2979,1,2,0,XNA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-2568.0
230,675000.0,House / apartment,-4477,1,2,0,Business Entity Type 3,NaN,0.1724,0.1909,0.9821,0.3333,NaN,NaN,NaN,0.0000,No,-330.0
240,225000.0,House / apartment,-3948,1,1,0,XNA,0.1854,0.2759,0.2810,0.9791,0.3333,0.0311,0.7182,0.0417,0.0092,No,-975.0
250,198000.0,House / apartment,-2690,1,2,0,Business Entity Type 3,0.0644,0.1034,0.1263,0.9921,0.3750,NaN,NaN,NaN,0.0000,No,-1053.0
260,324000.0,House / apartment,-4551,1,2,0,Trade: type 3,0.1126,0.2069,0.0900,0.9806,0.1667,0.0039,0.7383,0.2083,0.0660,No,-2149.0
270,945000.0,House / apartment,-4765,1,2,0,XNA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-2379.0
280,1575000.0,House / apartment,-1761,1,2,0,Business Entity Type 3,0.1214,0.2759,0.1059,0.9786,0.1667,NaN,NaN,NaN,0.0000,No,-206.0
290,675000.0,House / apartment,-4749,1,2,0,XNA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1331.0
300,450000.0,House / apartment,-3720,1,2,0,Self-employed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-631.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6700,270000.0,House / apartment,-626,1,2,0,Business Entity Type 3,NaN,0.0690,0.1077,0.9921,0.3333,NaN,NaN,NaN,NaN,No,-1517.0
6710,1606500.0,House / apartment,-2790,1,2,0,Industry: type 3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-891.0
6720,900000.0,House / apartment,-1951,1,2,0,Trade: type 7,0.0433,0.0690,0.0775,0.9871,0.3333,NaN,NaN,NaN,0.0224,No,-688.0
6730,135000.0,House / apartment,-4397,1,2,0,XNA,NaN,0.1034,0.0262,0.9841,0.1667,NaN,NaN,NaN,0.0641,No,-11.0
6740,450000.0,House / apartment,-523,1,2,0,Construction,NaN,0.2759,0.0889,0.9836,0.1667,NaN,NaN,NaN,NaN,No,-491.0
6750,337500.0,House / apartment,-503,1,2,0,Services,NaN,0.1034,0.0166,0.9782,0.0417,NaN,NaN,NaN,0.0030,No,-149.0
6760,1665000.0,House / apartment,-846,1,1,0,Other,NaN,0.1379,0.0709,0.9796,0.1667,NaN,NaN,NaN,NaN,No,-2729.0
6770,229500.0,House / apartment,-9,1,2,0,Self-employed,0.1287,0.3448,0.1084,0.9886,0.1667,NaN,NaN,NaN,0.0321,No,-2897.0
6780,1350000.0,House / apartment,-4457,1,1,0,Business Entity Type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1282.0
6790,225000.0,House / apartment,-2686,1,2,0,Self-employed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-359.0
6800,459000.0,House / apartment,-4338,1,2,0,XNA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
6810,229500.0,Rented apartment,-774,1,2,0,Business Entity Type 3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-699.0
6820,315000.0,House / apartment,-4163,1,2,0,Self-employed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-2334.0
6830,99000.0,House / apartment,-2444,1,2,0,Business Entity Type 3,0.0000,0.0345,0.0072,0.9782,0.0417,0.0000,0.7048,0.0833,0.0000,No,-618.0
6840,180000.0,House / apartment,-2059,1,2,0,Industry: type 9,NaN,NaN,0.0058,0.9588,NaN,NaN,NaN,NaN,NaN,Yes,-792.0
6850,463500.0,House / apartment,-4316,1,2,0,Business Entity Type 3,0.0920,0.2069,0.0784,0.9841,0.1667,NaN,NaN,NaN,0.0000,No,-1844.0
6860,292500.0,House / apartment,-143,1,2,0,Business Entity Type 3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
6870,450000.0,House / apartment,-2559,1,2,0,Medicine,0.0785,0.1379,0.0545,0.9757,0.1667,NaN,NaN,NaN,0.0307,No,0.0
6880,450000.0,House / apartment,-898,1,2,0,School,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-453.0
6890,1800000.0,House / apartment,-4121,1,2,1,Business Entity Type 3,0.0366,0.0690,0.0859,0.9896,0.3750,0.0000,0.8591,0.4167,0.0000,No,-919.0
6900,270000.0,House / apartment,-2446,1,3,0,Agriculture,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-488.0
6910,225000.0,House / apartment,-4652,1,2,0,XNA,0.0000,0.1379,0.0031,0.9856,0.0000,NaN,NaN,NaN,0.0000,No,-967.0
6920,495000.0,With parents,-3503,1,2,0,Trade: type 7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1388.0
6930,270000.0,House / apartment,-1230,1,2,0,Self-employed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-272.0
6940,675000.0,House / apartment,-1379,1,3,0,Postal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-673.0
6950,450000.0,House / apartment,-2637,1,2,0,Other,NaN,0.2069,NaN,0.9772,0.1667,NaN,NaN,NaN,NaN,No,-281.0
6960,630000.0,House / apartment,-903,1,2,0,Self-employed,0.0595,0.1379,0.0537,0.9891,0.1667,0.0000,0.8524,0.2083,0.0000,No,-726.0
6970,450000.0,House / apartment,-3927,1,3,0,Business Entity Type 3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1802.0
6980,180000.0,House / apartment,-436,1,2,0,Other,0.1833,0.2759,0.1194,0.9786,0.1250,0.0039,0.7115,0.1667,0.0042,No,-237.0
6990,270000.0,House / apartment,-2785,1,2,0,Military,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-809.0

#### 還有各種數之不盡的資料操作，重點還是取決於實務中遇到的狀況和你想問的問題，在馬拉松中我們也會陸續提到更多例子